.container {
    position: relative;
}

.messageContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.myMessageContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

.message {
    width: 200px;
    background-color: #82CCDD;
    border-radius: 25px;
    padding: 10px;
    margin-left: 20px;
}

.myMessage {
    width: 200px;
    background-color: #78E08F;
    border-radius: 25px;
    padding: 10px;
    margin-right: 20px;
}

.like {
    color: deepskyblue;
    margin-left: 4px;
    font-size: 24px;
    cursor: pointer;
}

.dislike {
    color: white;
    margin-left: 4px;
    font-size: 24px;
    cursor: pointer;
}

.date {
    font-style: italic;
    font-size: 12px;
    padding-left: 20px;
}

.myDate {
    font-style: italic;
    font-size: 12px;
    padding-right: 20px;
}

.edit {
    display: none;
    cursor: pointer;
}

.myMessageContainer:hover>.edit {
    display: block;
    cursor: pointer;
}

.delete {
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}


