.usersContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #8ABEE6;
    color: white;
    border-radius: 5px;
    margin: 10px 0;
    flex-basis: 0;
    flex-grow: 17;
    padding: 5px;
}

.button {
    background-color: #D55BE6;
    border-radius: 5px;
    color: #f5f6fa;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}
