.chatFooterContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4B5380;
    border-radius: 0 0 5px 5px;
    height: 80px;
    flex-basis: 0;
    flex-grow: 2;
}
