.userContainer {
    display: flex;
    justify-content: space-around;
    background-color: #f5f6fa;
    margin: 5px;
    padding: 5px;
    align-items: center;
}

.name {
    color: black;
}

.editButton {
    background-color: #82CCDD;
    padding: 5px;
    border-radius: 3px;
    width: 100px;
    cursor: pointer;
}

.deleteButton {
    background-color: red;
    padding: 5px;
    border-radius: 3px;
    width: 100px;
    cursor: pointer;
}
