.formContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #343757;
    border-radius: 5px;
    border: black solid 1px;
    color: #f5f6fa;
    width: 50%;
}

.input {
    width: 100%;
    background-color: #f5f6fa;
    border-radius: 5px;
    border: black solid 1px;
    color: black;
    padding: 10px;
    margin-bottom: 20px;
}


.buttonSubmit {
    background-color: #82CCDD;
    border-radius: 5px;
    color: #f5f6fa;
    font-size: 24px;
    font-weight: bolder;
}

.buttonCancel {
    background-color: red;
    border-radius: 5px;
    color: #f5f6fa;
    font-size: 24px;
    font-weight: bolder;
}
