.error {
    width: 50%;
    position: relative;
    background-color: #F8D7DA;
    border-radius: 5px;
    color: #721C24;
    padding: 20px;
    margin: 0 auto 10px;
}

.errorIcon {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
